body{
  margin: auto;
}
#navbar {
  list-style-type: none;
  margin: -10px;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;  
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8e8b8b;
}
.main-container {
  display: flex;
  height: 100%;
}
#sidebar{
background-color: #569cff;
padding: 20px;
margin-top: -10px;
    .sidebar-item {
      margin-top: 50px;
      .item{
        text-decoration-line: none;
        color: rgb(0, 0, 0);
      }
    }
  }
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: #3d8baa4f;
}
.item1 {
  grid-column: 1 / 7;
}
.item2 {
  grid-column: 1 / 4 ;
}
.item3 {
  grid-column: 2 / 7;
}
.item5 {
  grid-row: 1 / 7;
} 
.main{
  margin-top: 50px;
}
.Poster {
  width: 30%;
  height: 30%;
  padding-left: 100px;
}
.item3{
  display: block;
  .s-item3{
    display: flex;
  .ss-item3{
    display: block;
  }
  }
}
.bia {
  width: 10%;
  height: 10%;
}